/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* shared style */

body {
    font-family: "Open Sans", sans-serif;
}

.primary-text {
    color: #FD6E0A;
}

a,
p {
    color: #474747;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.section-gap {
    margin: 120px 0;

}

.section-title {
    font-size: 35px;
    font-weight: bold;
}

.section-dec {
    color: #757575;
}

/* header */
header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left top, right bottom;

}

/* nav*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav h3 {
    font-size: 45px;
    font-weight: bold;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}

/* banner */
.banner {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 200px;

}

.banner-content {
    max-width: 585px;
}

.banner-content h2 {
    font-weight: 600;
    font-size: 45px;
}

.banner-content h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0%;
}

.banner-profile {
    width: 560px;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about */
.about {
    padding: 130px;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item .d {
    font-weight: bold;
}

/* skills */
.skills h2,
.pp {
    text-align: center;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 50px 0;
}

.skill-box {
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
}

/* resume */

.resume-container h2 {
    font-size: 30px;
    color: #474747;
}

.resume-card h3 {
    font-size: 25px;
}

.resume-card .ddd {
    color: #757575;
    font-size: 20px;
}

.resume-card h3 {
    color: #757575;
    font-size: 25px;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume .zz {
    margin-bottom: 70px;
    text-align: center;
}

.resume-card h3 {
    font-size: 20px;
}

.resume-card .ddd {
    font-size: 20px;
    font-weight: normal;
}

.btn-container {
    text-align: center;
    margin-top: 50px;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    padding: 20px;
}

input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    background-color: #FFFFFF;
    border: none;
}

textarea {
    width: 100%;
    border: none;
}

.ffff {
    width: 500px;
}

.hide {
    display: none;
}

/* responsive device */

@media screen and (max-width:600px) {
    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        flex-direction: column;
    }

    .ffff {
        width: 100%;
    }

    .about {
        padding: 0;
    }

    .resume-container {
        display: flex;
        flex-direction: column;
        gap: 50px;

    }

    .about-items {
        flex-direction: column;
    }

    .banner {
        flex-direction: column;
        margin: 20px;
    }

    .banner-content {
        text-align: center;
    }

    img.banner-profile {
        width: 100%;
    }

    button#btn-2 {
        margin: 8px;
    }

    nav {
        flex-direction: column;
        margin: 0;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .banner-content h1 {
        font-size: 45px;
    }

}

@media only screen and (min-width:600px)and (max-width:970px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        flex-direction: column;
    }

    .about {
        padding: 50px;
    }

    .about-items {
        flex-direction: column;
    }

    .banner {
        flex-direction: column;
        margin: 20px;
    }

    .banner-content {
        text-align: center;
    }

    button#btn-2 {
        margin: 10px;
    }

    nav {
        margin: 0 50px;

    }

    .nav {
        flex-direction: column;
    }
}